# # Located here https://console.circle.com/api-keys
# API_KEY=TEST_API_KEY:6e66d037fab81be60d7752bcecef1651:3404af5a9c24aab1e108e334e2d5430e

# PORT=8080

# # database filename for sqlite
# DATABASE_FILENAME=:memory:

# # Fee wallet address for USDC splitter contracts
# FEE_WALLET=0x2ae66ef71eC7c455939944B10782ce4Ec03c49c1
# Located here https://console.circle.com/api-keys
API_KEY=TEST_API_KEY:6e66d037fab81be60d7752bcecef1651:3404af5a9c24aab1e108e334e2d5430e

PORT=8080

# database filename for sqlite
# DATABASE_FILENAME=:memory:
DATABASE_FILENAME=database.db

# Fee wallet address for USDC splitter contracts
FEE_WALLET=0x2ae66ef71eC7c455939944B10782ce4Ec03c49c1

# Disable USDC watcher to stop localhost errors
START_USDC_WATCHER=true
CIRCLE_WALLET_ID=3c193073-5c90-5806-8049-03e5a4aeb3ec

# Blockchain Configuration
# Get your free API key from: https://infura.io/
# INFURA_API_KEY=97b7c12761c347ebb10a89ac39046d77
INFURA_API_KEY=97b7c12761c347ebb10a89ac39046d77
USDC_ADDRESS=0x1c7D4B196Cb0C7B01d743Fbc6116a902379C7238

# Application Settings
PROCESS_HISTORICAL_TRANSFERS=true
CIRCLE_API_KEY=TEST_API_KEY:6e66d037fab81be60d7752bcecef1651:3404af5a9c24aab1e108e334e2d5430e
