# Located here https://console.circle.com/api-keys
API_KEY=TEST_API_KEY:6e66d037fab81be60d7752bcecef1651:3404af5a9c24aab1e108e334e2d5430e

PORT=8080

# database filename for sqlite
DATABASE_FILENAME=:memory:
